Author:<br>
{{input type="text" value=model.author size="35"}}<br><br>
Content:<br>
{{textarea value=model.content cols="80" rows="2"}} <br><br>

<button {{action "save"}}>Submit Comment</button>
<button {{action "cancel"}}>Cancel</button>
