<h1 class="header">Blog</h1>

{{outlet}}

<ul class="posts">
  {{#each model as |post|}}
    {{#link-to "post" post}}
      {{post-item post=post}}
    {{/link-to}}
  {{/each}}
</ul>

<div>{{#link-to "new"}}New Post{{/link-to}}</div>
